@model drugmanagementsystproject.Models.IndivisualTrailsInfoModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Indivisual Trails InfoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.indivisualid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indivisualid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indivisualname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indivisualname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indivisualadress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indivisualadress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonennumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonennumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencycontactnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencycontactnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emailid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emailid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
