@model IEnumerable<drugmanagementsystproject.Models.IndivisualTrailsInfoModel>

<center><h1>@User.Identity.Name</h1></center>
<br />
@{
    ViewBag.Title = "Index";
}

<h2 style="color:red">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.indivisualid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indivisualname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indivisualadress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonennumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emergencycontactnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailid)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.password)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.indivisualid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indivisualname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indivisualadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonennumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencycontactnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard", "EmployeeRegistration")
</div>
