@model drugmanagementsystproject.Models.DrugTrailHistoryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drug Trails History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.drugtrailhistid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drugtrailhistid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drugname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drugname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofpartispants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofpartispants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofpeoplewithsideeffects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofpeoplewithsideeffects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofpeoplewithNoeffects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofpeoplewithNoeffects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sucesspercentageoftrails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sucesspercentageoftrails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalresultofdrug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalresultofdrug)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
