@model IEnumerable<drugmanagementsystproject.Models.AllergicInformationModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:red">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.allergyid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allergyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isdrugundertrails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anyallergyreaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.differentsighnsandsympht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.antialergicmedicine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.allergyid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allergyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isdrugundertrails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anyallergyreaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.differentsighnsandsympht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.antialergicmedicine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Aid=item.Aid }) |
            @Html.ActionLink("Details", "Details", new { Aid=item.Aid }) |
            @Html.ActionLink("Delete", "Delete", new { Aid=item.Aid })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Dashboard","Dashboard","EmployeeRegistration")
</div>
